.button {
  display: inline-block;
  padding: 10px 15px;
  background: #ffea29;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 0.065em;
  line-height: 158%;
  text-align: center;
  color: #000000;
  white-space: nowrap;
  transition: all ease-in-out 200ms;
}
.button:hover {
  background: #000000;
  color: #ffea29;
}
.button:active {
  background: #ffea29;
  color: #000000;
}
.button_proposition {
  padding: 10px 90px;
  border: none;
}
.button_proposition:hover {
  background: #000000;
  border: none;
  color: #ffea29;
}
.button_proposition:active {
  background: #ffea29;
  color: #000000;
}
.button_cta:hover {
  background: #e7e7e7;
  color: #000;
}
.button_cta:active {
  background: #ffea29;
  color: #000000;
}
.button_modal {
  width: 516px;
}
.button_modal:hover {
  color: #ffea29;
  background: #000000;
}
.button_modal:active {
  color: #000000;
  background: #ffea29;
}
.button_modal:disabled {
  color: #8c8c8c;
  background: #e7e7e7;
  border: 1px solid #8c8c8c;
}
.button_modalGrey {
  width: 516px;
  background: #e7e7e7;
}
.button_modalGrey:hover {
  color: #e7e7e7;
  background: #000000;
}
.button_modalGrey:active {
  color: #000000;
  background: #e7e7e7;
}
.button_menu {
  background: #e7e7e7;
}
.button_modalGrey:hover {
  color: #e7e7e7;
  background: #000000;
}
.button_modalGrey:active {
  color: #000000;
  background: #e7e7e7;
}
.button_close {
  background: transparent;
  opacity: 1;
}
.button_close:active {
  opacity: 0.7;
}
.button_close img {
  width: 19.64px;
  height: 17.84px;
}
@media (max-width: 520px) {
  .button {
    font-size: 15px;
    max-width: 375px;
  }
}

@media (max-width: 375px) {
  .button {
    font-size: 15px;
    max-width: 306px;
  }
  .button_modal,
  .button_modalGrey {
    padding: 10px 15px;
  }
  .button_close img {
    width: 11.78px;
    height: 11.78px;
  }
}
@media (max-width: 320px) {
  .button {
    font-size: 15px;
    max-width: 280px;
  }
  .button_modal,
  .button_modalGrey {
    padding: 10px 5px;
  }
}
