.button {
  display: inline-block;
  padding: 10px 15px;
  background: #ffea29;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 153.5%;
  letter-spacing: 0.045em;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  white-space: nowrap;
  transition: all ease-in-out 200ms;
}
.button:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #ffea29;
}
.button_proposition {
  padding: 10px 90px;
  border: none;
  letter-spacing: 0.065em;
  line-height: 158%;
}
.button_proposition:hover {
  background: #000000;
  border: none;
  color: #ffea29;
}
