.card__container {
  max-width: 371px;
  height: 542px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  margin: 0 6px;
  background: linear-gradient(
    180deg,
    #ffea29 0%,
    rgba(255, 246, 163, 0.429167) 34.69%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 10px;
  position: relative;
  padding-bottom: 125px;
}
.card__container h2 {
  margin-bottom: 15px;
}
.offer__properties {
  padding-left: 10px;
}
.offer__properties h3 {
  align-items: left;
  margin-bottom: 9px;
}
.offer__property {
  margin-left: 25px;
  margin-bottom: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.5%;
  letter-spacing: 0.045em;
}
.offer__footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.offer__button {
  margin: 33px auto 0;
}
@media (max-width: 1024px) {
  .offer__property {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .card__container {
    height: 518px;
    padding: 30px 2px;
  }
  .offer__property {
    font-size: 14px;
  }
  .offer__button {
    margin: 10px auto 0;
  }
}
