.app {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 130px;
}
@media (max-width: 1434px) {
  ._container {
    padding: 0px 110px;
  }
}
@media (max-width: 1024px) {
  ._container {
    padding: 0px 30px;
  }
}
@media (max-width: 550px) {
  ._container {
    padding: 0px 20px;
  }
}
/* text styling */
.main__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 153.5%;
  letter-spacing: 0.075em;
  color: #ffffff;
}
.main__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.065em;
  color: #ffffff;
}
.body__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 153.5%;
  text-align: center;
  letter-spacing: 0.045em;
}
.body__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 153.5%;
  text-align: center;
  letter-spacing: 0.045em;
}
.proposition__title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 153.5%;
  text-align: center;
  letter-spacing: 0.045em;
}
.proposition__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 153.5%;
  letter-spacing: 0.045em;
}
.footer__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 153.5%;
  letter-spacing: 0.045em;
  color: #ffffff;
  text-decoration: none;
}
.footer__text_underline {
  text-decoration: underline;
}
.text_gray {
  color: #8c8c8c;
}
.text_white {
  color: #ffffff;
}
.link {
  color: #000000;
  text-underline-offset: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.link:hover {
  text-decoration-line: underline;
}
@media (max-width: 1024px) {
  .main__title {
    font-size: 40px;
  }
  .main__text {
    font-weight: 400;
    font-size: 16px;
  }
  .body__title {
    font-size: 35px;
  }
  .body__text {
    font-size: 16px;
  }
  .proposition__title {
    font-size: 20px;
  }
  .proposition__text {
    font-size: 16px;
  }
  .footer__text {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .main__title {
    font-size: 30px;
  }
  .main__text {
    font-size: 14px;
  }
  .body__title {
    font-size: 27px;
  }
  .body__text {
    font-size: 14px;
  }
  .proposition__title {
    font-size: 18px;
  }
  .proposition__text {
    font-size: 14px;
  }
  .footer__text {
    font-size: 12px;
  }
}
/* Header */
.header__container {
  height: 153px;
  background: #ffea29;
  display: flex;
  align-items: center;
}
.header__content {
  display: flex;
}
.header__logo {
  display: flex;
}
.header__logo a {
  display: inline-flex;
  align-items: center;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__text {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0.045em;
  color: #000000;
}
.header__nav {
  display: flex;
  list-style-type: none;
  margin-left: 135px;
  margin-right: 69px;
}
.header__nav li {
  margin-left: 35px;
}
.header__phone {
  align-items: center;
  margin-right: 60px;
}
.header__phone img {
  margin-top: 4px;
}
.header__buttonMenu {
  display: none;
}
@media (max-width: 1430px) {
  .header__phone {
    margin-right: 20px;
    margin-left: 10px;
  }
}
@media (max-width: 1365px) {
  .header__nav {
    margin-left: 20px;
    margin-right: 30px;
  }
}
@media (max-width: 1277px) {
  .header__nav li {
    margin-left: 20px;
  }
  .phone__num {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header__container {
    height: 138px;
  }
  .header__logo img {
    width: 74px;
    height: 75px;
  }
  .logo__text {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .header__nav {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .header__content {
    max-width: 690px;
    width: 100%;
    justify-content: space-between;
  }
  .header__info .header__buttonMenu {
    margin-left: 25px;
  }
  .header__nav {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .header__buttonMenu {
    display: inline;
  }
}
@media (max-width: 550px) {
  .header__info .header__buttonMenu {
    margin-left: 10px;
  }
}
@media (max-width: 460px) {
  .header__info .header__buttonMenu {
    margin-left: 10px;
  }
}
@media (max-width: 440px) {
  .header__container {
    height: 98px;
  }
  .header__logo img {
    width: 61px;
    height: 60px;
  }
  .logo__text {
    font-size: 16px;
  }
}
/* Main Container 1*/
.main__container1 {
  background: rgb(26, 26, 26);
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(7, 7, 7, 1) 83%
  );
  height: 100%;
}
.main__block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("./img/main/background_main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.block1 {
  display: block;
  z-index: 1;
  width: 100%;
}
.block1__main {
  max-width: 656px;
}
.block1__title {
  margin: 160px 0 8px;
}
.block1__button {
  margin-top: 51px;
}
.block1__footer {
  display: flex;
  margin-top: 200px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.lang_container {
  display: flex;
}
.lang a {
  margin-right: 48px;
}
.lang_active a {
  text-decoration-line: underline;
  font-weight: 900;
}
.scroll-button img {
  margin-right: 6px;
}
.scroll-button a {
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
}
.scroll-button a:hover {
  text-decoration-line: underline;
}
@media (max-width: 1380px) {
  .block1__title {
    margin: 120px 0 8px;
  }
}
@media (max-width: 1275px) {
  .block1__title {
    margin: 90px 0 8px;
  }
}
@media (max-width: 1175px) {
  .block1__title {
    margin: 60px 0 8px;
  }
}
@media (max-width: 1024px) {
  .block1__title {
    margin: 110px 0 8px;
  }
}
@media (max-width: 880px) {
  .block1__main {
    max-width: 500px;
  }
  .block1__title {
    margin: 70px 0 8px;
  }
}
@media (max-width: 860px) {
  .main__block1 {
    background-image: url("./img/main/background_main_tablet2.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
}
@media (max-width: 767px) {
  .main__block1 {
    background-image: url("./img/main/background_main.png");
    background-repeat: no-repeat;
    background-size: auto;
  }
  .main__container {
    height: auto;
  }
}
@media (max-width: 440px) {
  .block1__main {
    text-align: center;
  }
  .block1__button {
    margin-top: 150px;
  }
  .block1__footer {
    margin-top: 12px;
    justify-content: center;
  }
  .lang a {
    display: none;
  }
}
/* Main Container 2*/
.main__container2 {
  height: 100%;
}
.main__block2 {
}
.block2__about {
  display: block;
  margin: 100px auto 100px;
  max-width: 940px;
  width: 100%;
}
.about__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__text h2 {
  white-space: nowrap;
  margin-right: 30px;
}
.about__text p {
  max-width: 629px;
}
.about__img {
  display: flex;
  margin: 55px auto 0;
  max-width: 729px;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) {
  .block2__about {
    padding: 0 110px;
  }
}
@media (max-width: 815px) {
  .block2__about {
    margin: 30px auto 30px;
  }
  .about__text {
    display: block;
  }
  .about__text h2 {
    white-space: nowrap;
    margin: 0 auto 10px;
  }
}
@media (max-width: 720px) {
  .block2__about {
    padding: 0 70px;
  }
}
@media (max-width: 580px) {
  .block2__about {
    padding: 0 30px;
  }
}
@media (max-width: 465px) {
  .block2__about {
    padding: 0;
  }
  .about__img {
    margin: 30px auto 0;
  }
}
